<div class="brand-menu" id="brand-menu">
  <a href="/assets/files/brand-assets.zip" download class="brand-menu-item">
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="brand-menu-icon">
      <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
      <polyline points="7 10 12 15 17 10"></polyline>
      <line x1="12" y1="15" x2="12" y2="3"></line>
    </svg>
    Download All Brand Assets
  </a>
  <div class="brand-menu-scrollable">
    <div class="brand-menu-group">Logo (SVG)</div>
    <a href="/assets/images/brand/logo-black-transparent.svg" download class="brand-menu-item">Black Transparent</a>
    <a href="/assets/images/brand/logo-white-transparent.svg" download class="brand-menu-item">White Transparent</a>
    <a href="/assets/images/brand/logo-white-transparent-borderless.svg" download class="brand-menu-item">White Borderless</a>
    <a href="/assets/images/brand/logo-blue-transparent.svg" download class="brand-menu-item">Blue Transparent</a>
    <a href="/assets/images/brand/logo-blue-framed.svg" download class="brand-menu-item">Blue Framed</a>
    <a href="/assets/images/brand/logo-white-framed.svg" download class="brand-menu-item">White Framed</a>

    <div class="brand-menu-group">Logo (PNG @2x)</div>
    <a href="/assets/images/brand/logo-black-transparent@2x.png" download class="brand-menu-item">Black Transparent</a>
    <a href="/assets/images/brand/logo-white-transparent@2x.png" download class="brand-menu-item">White Transparent</a>
    <a href="/assets/images/brand/logo-white-transparent-borderless@2x.png" download class="brand-menu-item">White Borderless</a>
    <a href="/assets/images/brand/logo-blue-transparent@2x.png" download class="brand-menu-item">Blue Transparent</a>
    <a href="/assets/images/brand/logo-blue-framed@2x.png" download class="brand-menu-item">Blue Framed</a>
    <a href="/assets/images/brand/logo-white-framed@2x.png" download class="brand-menu-item">White Framed</a>

    <div class="brand-menu-group">Logo with Text (SVG)</div>
    <a href="/assets/images/brand/logo-text-black-transparent.svg" download class="brand-menu-item">Black Transparent</a>
    <a href="/assets/images/brand/logo-text-white-transparent.svg" download class="brand-menu-item">White Transparent</a>
    <a href="/assets/images/brand/logo-text-white.svg" download class="brand-menu-item">White Solid</a>

    <div class="brand-menu-group">Logo with Text (PNG @2x)</div>
    <a href="/assets/images/brand/logo-text-black-transparent@2x.png" download class="brand-menu-item">Black Transparent</a>
    <a href="/assets/images/brand/logo-text-white-transparent@2x.png" download class="brand-menu-item">White Transparent</a>
    <a href="/assets/images/brand/logo-text-white@2x.png" download class="brand-menu-item">White Solid</a>
  </div>
</div>
