<header>
  <div class="container">
    <nav>
      <a href="/" class="logo">
        <img src="/assets/images/logo-black-transparent.png" alt="Common Ground">
      </a>
      <button class="burger-menu" aria-label="Toggle navigation menu">☰</button>
      <div class="nav-links">
        <a href="/about/">About</a>
        <a href="/governance/">Governance</a>
        <a href="/wiki/">Wiki</a>
        <a href="https://app.cg/c/commonground" class="button join-button" target="_blank">Community<span class="arrow">↗</span></a>
      </div>
    </nav>
  </div>
</header> 